html {
  scroll-behavior: smooth;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: white;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 32px;
  line-height: 1;
  text-align: center;
  color: rgba(70, 68, 75, 1);
}

h2 {
  font-size: 16px;
  line-height: 1.5;
  color: rgba(70, 68, 75, 1);
}

h3 {
  font-size: 16px;
  line-height: 1.5;
  color: rgba(70, 68, 75, 1);
}

p{
  font-size: 14px;
  line-height: 1.5;
  color: rgba(70, 68, 75, 1);
  font-weight: 200;
}

.container {
  display: grid;
  grid-template-columns: 0.5fr 3.5fr 5.5fr 0.5fr;
  grid-template-rows: 100px 40px auto auto auto 50px;
  grid-row-gap: 30px;
  width: 100vw;
}

header {
  grid-column:2/4;
  grid-row:1/2;
  padding-top: 30px;
  text-align: left;
}

header h2 {
  padding-top: 10px;
  font-weight: 200;
}

header h1 {
  /* justify-content: center; */
  text-shadow: 4px 4px 3px #ccc;
  text-align: left;
}

.nav {
  grid-column: 2/4;
  grid-row: 2/3;
  background-color:seashell;
  margin-right: 350px;
  border-collapse: separate;
}

.nav a {
  text-decoration: none;
  display: inline-block;
  padding: 11px 15px;
  color: rgba(70, 68, 75, 1);
  font-size: 16px;
  text-align: center;
  /* border: 1px solid rgba(70, 68, 75, 1); */
}

.nav a:hover {
  text-decoration: underline;
}

.nav a.current {
  color: seashell;
  background-color: rgba(70, 68, 75, 1);
}

.description{
  grid-column:2/3;
  grid-row: 3/4;
  padding-top: 10px;
}
/* 
#bubble_map {
  grid-column: 3/4;
  grid-row:3/-2;
} */

#bubble_map_1 {
  grid-column: 2/4;
  grid-row:4/5;
}

#bubble_map_2 {
  grid-column: 2/4;
  grid-row:4/5;
  padding-top: 10px;
}

#lollipop {
  grid-column: 2/4;
  grid-row:4/5;
  padding-top: 10px;
}

/* .code {
  grid-column: 3/4;
  grid-row: 4/5;
} */

footer {
  grid-column: 1 / -1;
  grid-row: -1;
  padding-bottom: 30px;
  text-align: center;
}
